html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

/* font-family: 'Open Sans', sans-serif; */

body {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 71.7rem;
  width: 100%;
  margin: 2.7rem auto 0 auto;
}

.logo {
  max-width: 2.6rem;
  max-height: 2.6rem;
}

.logo img {
  width: 100%;
  margin: auto auto;
}

.topMenu {
  max-width: 29rem;
  width: 100%;
  margin: auto 0;
  max-height: 2.25rem;
  height: 100%;
}

.topMenu ul {
  display: flex;
  justify-content: space-between;
  max-height: 2.25rem;
  height: 100%;
  align-items: center;
}

.topMenu a {
  text-decoration: none;
  color: #333333;
  font-size: 0.78rem;
  font-weight: 400;
}

.product a {
  color: #ffffff;
  background-color: #ff6b43;
  border-radius: 4px;
  padding: 0 0.64rem 0 0.6rem;
}

.login a {
  background-color: #ebeff2;
  border-radius: 4px;
  padding: 0 0.64rem 0 0.6rem;
}

.documentation {
  padding: 0 0.9rem 0 0.8rem;
}

.faq {
  padding-right: 1.1rem;
}
